### IntelliJ IDEA ###
**/*.iws
**/*.eml
**/.idea/dictionaries/*
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/misc.xml
**/.idea/libraries
out/

### Working directories ###
/output_device1
/output_device1/*
/output
/output/*
/tmp
/tmp/*
/temp_extracted_resources
/temp_extracted_resources/*
data/*
tmp*/*